DivLog/
LILAC/
RAG/
__pycache__/
utils/__pycache__/
.vscode/
dataset_logpub/
outputs/reverse/

dataset/Correct_Details.md

# dataset
dataset/**/*full*
outputs/parser/*full*/
dataset/data_loader.py

# output
outputs/cost/
outputs/parser/*DivLog*
outputs/parser/*LILAC*
outputs/parser/*with*
outputs/parser/*without*


# python file
utils/unused_functions.py

# config.json
tools.ipynb
test.ipynb
