
dataset/BGL/BGL_full.log_structured.csv
outputs/parser/Test_full_dataset/BGL.csv

.vscode/
__pycache__/

# macOS
.DS_Store

# PyCharm
.idea/
logparser/

.gitignore
evaluation.ipynb
utils.demostration_infromationentropy
tuils/oracle_template_correction/
